/*Vagas abertas começa aqui*/

/*Cards*/
.Card {
    width: 100%;
    height: 100%;
}

.Cards-vagas-imagem img {
    min-height: 175px;
    width: 100%;
    height: auto;
}

/*Container*/
.Vagas-abertas, .Vagas-candidatada-postada {
    width: 100%;
}

/*Publicar vagas começa aqui */

/* FORMULÁRIO PUBLICAR VAGA */

.divTituloForm {
    text-align: center;
    padding: 20px 0;
    border-bottom: 3px solid #8d8686; /* Altere a cor conforme necessário */
    margin-bottom: 20px;
}

.tituloForm {
    font-size: 2rem;
    margin: 0;
}

.formPublicar {
    background-color: #f0f0f0; /* Altere a cor conforme necessário */
    padding: 30px;
    border: 2px solid #8d8686; /* Altere a cor conforme necessário */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adicione sombra discreta */
    margin-bottom: 20px;
}

.formPublicar .form-label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.formPublicar .form-control, .formPublicar .form-select {
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

#btnPublicarVaga {
    background-color: #4e2525; /* Altere a cor conforme necessário */
    color: antiquewhite; /* Altere a cor conforme necessário */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

#btnPublicarVaga:hover {
    background-color: #3b1d1d; /* Altere a cor conforme necessário */
}

/*Publicar vagas termina aqui */