/* Algumas partes do CSS estão feitas de forma não responsiva/oficial, só para termos uma noção por enquanto */
/* Configurações de todo o documento */
html {
    font-size: 16px;
}

body{
    margin: 0px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

/* Esqueleto da Página */

/* HEADER  */
header{
    background-color: #4e2525;
    display: block;
}

header h1{
    color:antiquewhite;
    font-size: 3rem;
    vertical-align: middle;
}

header .logo{
    width: 8vw;   
    height: auto; 
    border: 5px solid antiquewhite;
    border-radius:100%;
    margin-right: 50px;
}

header ul{
    padding-left: 0px;
    position: fixed;
    top: calc((8vw + 20px)/2);
    
}

header ul li{
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 5%;
    list-style: none;
    display: inline;
    font-size: 1rem;
}

header div {
    position: absolute;
    vertical-align: middle;
    height:100%;
    padding: 0px;
    top: 0px;
}

header a{
    color: black;
    text-decoration: none;
}

/* MAIN */

main {
    width: 100vw;
    height: auto;
    position: absolute;
    margin-top: 40vh;
    text-align: center;
}

main h1{
    font-size: 5rem;
}

/* FOOTER */
footer{
    border-top: 2px solid rgb(58, 58, 58);
}

footer ul{
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 0px;
}

footer ul li{
    display: inline;
    margin-right: 15px;
    margin-left: 15px;
}
