/* Estilização do body*/
body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    margin: 0;
}
/*Header e logo*/
img {
    width: 10%;
    height: 10%;
}
header{
    background-color: #4e2525;
    display: block;
}

header h1{
    color:antiquewhite;
    font-size: 3rem;
    vertical-align: middle;
}

header .logo{
    width: 8vw;   
    height: auto; 
    border: 5px solid antiquewhite;
    border-radius:100%;
    margin-right: 50px;
}

header ul{
    padding-left: 0px;
    position: fixed;
    top: calc((8vw + 20px)/2);
    
}

header ul li{
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 5%;
    list-style: none;
    display: inline;
    font-size: 1rem;
}

header div {
    position: absolute;
    vertical-align: middle;
    height:100%;
    padding: 0px;
    top: 0px;
}

header a{
    color: black;
    text-decoration: none;
}

.principal{
    padding-top: 200px;

}
/* Estilização do carrossel*/
.carousel-item {
    justify-content: center;
    align-items: center;
    min-height: 400px;
    min-width: 800px;
    max-width: 800px;
}
.carousel-inner {
    width: 800px;
    height: 500px;
}
/* Box de avaliação (descrição) */
.boxAvaliacao {
    width: 80%;
    margin: 1%;
    background-color: white;
}

/* Nome dos avaliadores */
.nomeAvaliacao {
    font-size: 150%;
    color: black;
}

/* Ajustes das estrelas */
.estrelasAvaliacao {
    display: flex;
    justify-content: center;
    align-items: center;
}

.estrelasAvaliacao .fa-star {
    font-size: 150%;
}

.checked {
    color: orange;
}

/* Ajustes das avaliações/Descrições */
.feedbackAvaliacao {
    display: flex;
    justify-content: center;
    font-size: 100%;
    color: black;
}
.boxAvaliacao {
    width: 100%;
    max-width: 600px; 
    margin: 0 auto; 
}

.textoFeedback {
    word-wrap: break-word;
}

textarea.form-control::-webkit-scrollbar {
    width: 10px; 
}

textarea.form-control::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px; 
}

textarea.form-control::-webkit-scrollbar-thumb {
    background: #583030; 
    border-radius: 10px;
}

textarea.form-control::-webkit-scrollbar-thumb:hover {
    background: #8d4949; 
}

textarea.form-control {
    width: 100%;
    min-height: 100px; 
    resize: none; 
    border: none; 
    box-shadow: none; 
    background-color: transparent;
}

/* Ajustes do fundo da descrição */
.fundoFeedback {
    align-self: center;
    background-color: lightgray;
    width: 80%;
    height: 50%;
    padding: 10px;
}

#feedbackContainer {
    display: flex;
    justify-content: center;
}

/* FOOTER */
footer{
    border-top: 2px solid rgb(58, 58, 58);
}

footer ul{
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 0px;
}

footer ul li{
    display: inline;
    margin-right: 15px;
    margin-left: 15px;
}
