.imagem-texto-dinamico {
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
}

.imagem-texto-dinamico img {
    width: 100%;
    height: auto;
}

.texto-dinamico-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Removido o fundo semitransparente */
    padding: 20px;
    border-radius: 10px;
}

.texto-dinamico {
    font-size: 2rem;
    color: white;
}

.digitacao {
    border-right: 2px solid white;
    animation: piscar 0.75s steps(2, start) infinite;
}

@keyframes piscar {
    to {
        border-color: transparent;
    }
}

.feedbacks, .como_funciona {
    background: #fcfcfc;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
}

.carousel-item img {
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.rodape {
    border-top: 2px solid rgb(58, 58, 58);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.lista-rodape {
    list-style: none;
    display: flex;
}

.item-rodape {
    display: inline;
    margin: 0 10px;
}

.link-rodape {
    color: #333; /* Cor cinza */
    text-decoration: none;
    transition: color 0.3s;
}

.link-rodape:hover {
    color: #4e2525; /* Cor ao passar o mouse */
}

/*Aqui começa o carrossel dinamico de feedbacks*/

/* Estilização do carrossel */
.carousel-inner {
    width: 80%; /* Ajuste a porcentagem conforme necessário */
    height: 530px;
    margin: 0 auto;
}

.carousel-item {
    justify-content: center;
    align-items: center;
}

.carousel-inner {
    display: flex;
    flex-wrap: nowrap;
}

/* Box de avaliação (descrição) */
.boxAvaliacao {
    width: 80%;
    margin: 1%;
    background-color: white;
}

/* Nome dos avaliadores */
.nomeAvaliacao {
    font-size: 150%;
    color: black;
}

/* Ajustes das estrelas */
.estrelasAvaliacao {
    display: flex;
    justify-content: center;
    align-items: center;
}

.estrelasAvaliacao .fa-star {
    font-size: 150%;
}

.checked {
    color: orange;
}

/* Ajustes das avaliações/Descrições */
.feedbackAvaliacao {
    display: flex;
    justify-content: center;
    font-size: 100%;
    color: black;
}

.boxAvaliacao {
    width: 100%;
    max-width: 300px; 
    margin: 0 auto; 
}

.textoFeedback {
    word-wrap: break-word;
}

textarea.form-control::-webkit-scrollbar {
    width: 10px;
}

textarea.form-control::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

textarea.form-control::-webkit-scrollbar-thumb {
    background: #583030;
    border-radius: 10px;
}

textarea.form-control::-webkit-scrollbar-thumb:hover {
    background: #8d4949;
}

textarea.form-control {
    width: 100%;
    min-height: 100px;
    resize: none;
    border: none;
    box-shadow: none;
    background-color: transparent;
}

/* Ajustes do fundo da descrição */
.fundoFeedback {
    align-self: center;
    background-color: lightgray;
    width: 80%;
    height: 50%;
    padding: 10px;
}

#feedbackContainer {
    display: flex;
    justify-content: center;
}

/*Aqui termina o carrossel dinamico de feedbacks*/

/*Aqui começa o Crud para os feedbacks*/

/*Texto de introdução*/
.textoIntroducao{
    font-size: 20px;
}

/*Estrelas de avaliação*/
.estrelas .p {
    padding: -200;
}
.rate {
    float: left;
    height: 40px;
    padding: 0 0 0 0px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:50px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

/*Aqui termina o Crud para os feedbacks*/