/*Vagas abertas começa aqui*/

/*Cards*/
.Card{
    width: 500px;
    height: 500px;
}
.Cards-vagas-imagem img{
    min-height: 175px;
    min-width: 100%;
    width: 85%;
    height: 80%;
}
/*Container*/
.Vagas-abertas, .Vagas-candidatada-postada{
    width: 100%;
    height: 40%;

}
.Vagas-abertas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 1200px) {
    .vagas-container .Container {
        flex: 0 1 calc(50% - 20px); /* 2 cards por linha */
        max-width: calc(50% - 20px); /* 2 cards por linha */
    }
}

@media (max-width: 768px) {
    .vagas-container .Container {
        flex: 0 1 calc(100% - 20px); /* 1 card por linha */
        max-width: calc(100% - 20px); /* 1 card por linha */
    }
}
/* Ajuste dos cards de vagas */
.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 15px;
    max-width: 100%; /* Garante que os cards não excedam a largura */
}

.Cards-vagas-title h2 {
    font-size: 1.5rem;
}

.Cards-vagas-descrição p {
    font-size: 1rem;
}
/*Vagas abertas termina aqui*/

/*Publicar vagas começa aqui */

/* FORMULÁRIO PUBLICAR VAGA*/

.divTituloForm{
    margin-left: 3vw;
    padding-left: 15px;
    min-width: 94vw;
    max-width: 100vw;
    border-bottom: 3px solid rgb(141, 134, 134);
}

.tituloForm{
    font-size: 2rem;
    margin-top: 10px;
}


.formPublicar{
    min-width: 94vw;
    max-width: 100vw;
    margin-top: 20px;
    margin-left: 3vw;
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid rgb(141, 134, 134);
    background-color: #f0f0f0;
}

.formPublicar label{
    font-weight: bold;
    padding: 5px;
    padding-bottom: 10px;
    display: inline-block;
    word-wrap: break-word;
}

.formPublicar div{
    display: inline-block;
    margin: 0;
}

#divBotaoPublicar{
    min-width: 100vw;
    text-align: center;
    margin-top: 15px;
}

#botaoPublicarVaga{
    background-color: #4e2525;
    color: antiquewhite;
    padding: 10px;
    margin: 0px,10px, 0px;
}

/*DIVs dos inputs e inputs do FORMULÁRIO PUBLICAR VAGA*/

.formPublicar input, .formPublicar select{
    margin-right: 15px;
    padding-left: 5px;
}

#divInputNomeVaga, #divInputLocalVaga{
    width: 49%;
}
#divInputNomeVaga input, #divInputLocalVaga input{
    min-width: 80%;
}

#divInputSelecionavel{
    width: 49%;
}

#divInputSelecionavel div{
    width: 33%;
}

#divInputSelecionavel div input{
    width: 60%;
}

#divInputValorVaga, #divInputHabilidadesVaga{
    min-width: 24%;
}
 #divInputValorVaga input, #divInputHabilidadesVaga input{
    width: 70%;
}

#descricaoVaga{
    min-width: 100%;
    height: 10rem;
}


#infoEmpresa div{
   width: 24%; 
}

#infoEmpresa div input{
    width: 70%;
}

/*Publicar vagas termina aqui */


.page-link-custom {
    cursor: pointer;
}

.highlight-card:hover {
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.filters-container {
    background-color: #704040;
    z-index: 999;
    padding: 20px 20px;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.filters-container .dropdown .dropdown-toggle {
    background-color: #4e2525;
    border-color: #4e2525;
    color: white;
}

.filters-container .dropdown .dropdown-menu {
    background-color: #4e2525;
}

.filters-container .dropdown .dropdown-item {
    color: white;
}

.filters-container .dropdown .dropdown-item:hover {
    background-color: #703838;
}

.filters-container .range-container {
    display: flex;
    align-items: center;
    color: white;
}

.filters-container .range-container input[type="range"] {
    margin: 0 10px;
    flex: 1;
}

.filters-container .range-container input[type="range"]::-webkit-slider-thumb {
    background-color: black;
}

.filters-container .range-container span {
    font-weight: bold;
}

#map {
    width: 100%;
    height: 400px;
}

#left div {
    background-color: rgb(226, 226, 226);
}

#Desc {
    background-color: rgb(226, 226, 226);
}

#header {
    background-color: rgb(66, 16, 16);
}

.navbar img {
    width: 100px;
    border-radius: 100%;
    border: 5px solid antiquewhite;
    margin: 10px;
}

.navbar-brand,
.navbar-nav .nav-link {
    color: antiquewhite !important;
}

#titulo-imagem {
    text-align: center;
}

.card-img-left {
    object-fit: cover;
    width: 25% !important;
}

.card {
    width: 95%; /* Ajuste conforme necessário */
}

.img-fluid-custom {
    height: 160px; /* Ajuste um pouco a altura */
    object-fit: cover;
}

