/*Arquivo Provisorio*/

.container_usuario {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

.detalhamento_usuario {
    flex: 1;
    padding: 10px;
}

.nome h2 {
    font-size: 24px;
    margin: 10px 0;
    color: #333;
}

.img_usuario {
    margin: 15px 0;
    text-align: center;
}

.usuario_imagem {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.dataNasc,
.Interesses {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

.dataNasc p,
.Interesses p {
    font-size: 18px;
    margin: 5px 0;
    color: #555;
}

.lista {
    list-style-type: none;
    padding: 0;
}

.lista li {
    font-size: 16px;
    margin: 5px 0;
    color: #777;
}

.descricao_contato {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.descricaoUsuario {
    margin-bottom: 20px;
}

.descricaoUsuario p {
    font-size: 16px;
    color: #666;
}

.botaoContato {
    text-align: center;
}

.botao_contato {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.botao_contato:hover {
    background-color: #0056b3;
}
