
/* Estilos específicos para a página de Perguntas Frequentes */
.faq {
    background: #fcfcfc; /* Cor de fundo */
    padding: 20px; /* Espaçamento interno */
    margin: 20px 0; /* Espaçamento vertical */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ao redor */
    width: 100%; /* Largura total */
    box-sizing: border-box; /* Inclui padding e border na largura e altura */
}

/* Estilos específicos para a página de Termos de Uso */
.termos {
    background: #fcfcfc; /* Cor de fundo */
    padding: 20px; /* Espaçamento interno */
    margin: 20px 0; /* Espaçamento vertical */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ao redor */
    width: 100%; /* Largura total */
    box-sizing: border-box; /* Inclui padding e border na largura e altura */
    text-align: justify; /* Justifica o texto */
}

.termos-lista {
    list-style-type: decimal; /* Altera o estilo dos itens da lista para números */
    padding-left: 20px; /* Adiciona espaço à esquerda para os números */
}

.termos-lista li {
    margin-bottom: 15px; /* Adiciona espaçamento entre os itens da lista */
}

/* Estilos específicos para a página de Fale Conosco */
.contato {
    background: #fcfcfc; /* Cor de fundo */
    padding: 20px; /* Espaçamento interno */
    margin: 20px 0; /* Espaçamento vertical */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ao redor */
    width: 100%; /* Largura total */
    box-sizing: border-box; /* Inclui padding e border na largura e altura */
}

/* Estilos específicos para a página de Sobre Nós */
.sobre {
    background: #fcfcfc; /* Cor de fundo */
    padding: 20px; /* Espaçamento interno */
    margin: 20px 0; /* Espaçamento vertical */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ao redor */
    width: 100%; /* Largura total */
    box-sizing: border-box; /* Inclui padding e border na largura e altura */
}
