body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1;
    margin-bottom: 80px; /* Ajuste a margem conforme necessário para a altura do footer */
}

footer {
    background-color: #f0f0f0;
    padding: 20px 0;
    width: 100%;
    text-align: center;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    cursor: pointer;
    display: inline-block;
    margin: 0 10px;
}
/* styles.css */

#left div{
    background-color: rgb(226, 226, 226);
}

#Desc{
    background-color: rgb(226, 226, 226);
}

#header {
    background-color: rgb(66, 16, 16);
}

.navbar img {
    width: 100px;
    border-radius: 100%;
    border: 5px solid antiquewhite;
    margin: 10px;
}

.navbar-brand,
.navbar-nav .nav-link {
    color: antiquewhite !important;
}

#titulo-imagem{
    text-align: center;
}
