/* Estilos básicos para o corpo do documento */
html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

/* Estilos para o cabeçalho */
header {
    background-color: #4e2525;
    color: antiquewhite;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
}

/* Estilo para o logo no cabeçalho */
header .logo {
    width: 4vw;
    height: auto;
    border: 5px solid antiquewhite;
    border-radius: 100%;
    margin-right: 50px;
}

/* Estilos para a navegação no cabeçalho */
header nav {
    margin-left: auto;
}

header ul {
    padding-left: 0;
    list-style: none;
    display: flex;
}

header ul li {
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 5%;
    font-size: 1rem;
    margin-left: 10px;
    font-size: 1rem;
}

header a {
    color: black;
    text-decoration: none;
}

/* Estilos para o conteúdo principal */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    background-color: #fcfcfc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: auto;
    max-width: 80vw;
    margin: 20px auto;
}

/* Estilos para o título da pesquisa de interesses */
.titulo-interesse {
    margin-top: 50px;
    font-size: 2rem;
}

/* Estilos para o layout dos cards */
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: auto;
    max-width: 60vw;
    padding-top: 30px;
}

/* Estilos para os cards individuais */
.card {
    border: 3px solid #ccc;
    padding: 10px;
    text-align: center;
    transition: transform 0.2s, border-color 0.2s;
}

/* Efeito de hover para os cards */
.card:hover {
    transform: scale(1.05);
    border-color: #4e2525;
}

/* Estilo para os cards selecionados */
.card.selected {
    border-color: #4e2525;
}

/* Estilos para as imagens dentro dos cards */
.card img {
    max-width: 40%;
    height: auto;
}

/* Estilos para o container dos botões */
.button-container {
    margin-top: 50px;
    text-align: center;
}

/* Estilos para os botões */
button {
    padding: 15px 30px;
    font-size: 1rem;
    width: auto;
    min-width: 150px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

/* Efeito de hover para os botões */
button:hover {
    background-color: #4e2525;
    color: antiquewhite;
}

/* Estilos para o rodapé */
footer {
    border-top: 2px solid rgb(58, 58, 58);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

footer ul {
    list-style: none;
    display: flex;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}