/* Algumas partes do CSS estão feitas de forma não responsiva/oficial, só para termos uma noção por enquanto */
/* Configurações de todo o documento */
html {
    font-size: 16px;
}

body{
    margin: 0px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

/* Esqueleto da Página */

/* HEADER  */
header{
    background-color: #4e2525;
    display: block;
    height: 20vh;
}

header h1{
    color:antiquewhite;
    font-size: 3rem;
    vertical-align: middle;
}

header .logo{
    width: 8vw;   
    height: auto; 
    border: 5px solid antiquewhite;
    border-radius:100%;
    margin-right: 50px;
}

header ul{
    padding-left: 0px;
    position: fixed;
    top: calc((8vw + 20px)/2);
    
}

header ul li{
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 5%;
    list-style: none;
    display: inline;
    font-size: 1rem;
}

header div {
    position: absolute;
    vertical-align: middle;
    height:100%;
    padding: 0px;
    top: 0px;
}

header a{
    color: black;
    text-decoration: none;
}

/* MAIN */

main {
    height: auto;
    margin-top: 20vh;
    margin-bottom: 5vh;
    min-height: 75vh;
}

main h1{
    font-size: 5rem;
}

/* FOOTER */
footer{
    background-color: #f0f0f0;
    border-top: 2px solid rgb(58, 58, 58);
    height: 5vh;
    max-width: 100vw;
}

footer ul{
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 0px;
}

footer ul li{
    display: inline;
    margin-right: 15px;
    margin-left: 15px;
}

/* PÁGINA VAGAS EM ABERTO*/
/* body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
} */
.Card{
    width: 500px;
    height: 500px;
}
.Cards-vagas-imagem img{
    min-height: 175px;
    width: 85%;
    height: 80%;
}
.containerCardsVaga{
    text-align: center;
    width: 100%;
    height: 40%;
}


/* FORMULÁRIO PUBLICAR VAGA*/

.divTituloForm{
    margin-left: 3vw;
    padding-left: 15px;
    min-width: 94vw;
    max-width: 100vw;
    border-bottom: 3px solid rgb(141, 134, 134);
}

.tituloForm{
    font-size: 2rem;
    margin-top: 10px;
}


.formPublicar{
    min-width: 94vw;
    max-width: 100vw;
    margin-top: 20px;
    margin-left: 3vw;
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid rgb(141, 134, 134);
    background-color: #f0f0f0;
}

.formPublicar label{
    font-weight: bold;
    padding: 5px;
    padding-bottom: 10px;
    display: inline-block;
    word-wrap: break-word;
}

.formPublicar div{
    display: inline-block;
    margin: 0;
}

#divBotaoPublicar{
    min-width: 100vw;
    text-align: center;
    margin-top: 15px;
}

#botaoPublicarVaga{
    background-color: #4e2525;
    color: antiquewhite;
    padding: 10px;
    margin: 0px,10px, 0px;
}

/*DIVs dos inputs e inputs do FORMULÁRIO PUBLICAR VAGA*/

.formPublicar input, .formPublicar select{
    margin-right: 15px;
    padding-left: 5px;
}



#divInputNomeVaga, #divInputLocalVaga{
    width: 49%;
}
#divInputNomeVaga input, #divInputLocalVaga input{
    min-width: 80%;
}



#divInputSelecionavel{
    width: 49%;
}

#divInputSelecionavel div{
    width: 33%;
}

#divInputSelecionavel div input{
    width: 60%;
}



 #divInputValorVaga, #divInputHabilidadesVaga{
    min-width: 24%;
}
 #divInputValorVaga input, #divInputHabilidadesVaga input{
    width: 70%;
}



#descricaoVaga{
    min-width: 100%;
    height: 10rem;
}


#infoEmpresa div{
   width: 24%; 
}

#infoEmpresa div input{
    width: 70%;
}

