/*Vagas abertas estilização*/

/*Cards*/
.Card{
    width: 500px;
    height: 500px;
}
.Cards-vagas-imagem img{
    min-height: 175px;
    width: 85%;
    height: 80%;
}
/*Container*/
.Vagas-abertas{
    width: 100%;
    height: 40%;
    padding-left: 20%;/*Provisório*/
}