.botao-envia {
    padding: 15px 30px;
    font-size: 1rem;
    width: auto;
    min-width: 150px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

/* Efeito de hover para os botões */
.botao-envia:hover {
    background-color: #4e2525;
    color: antiquewhite;
}
